<div id="movieWhiteboardContainer" style="border: 2px blue solid; background-color: white;"></div>
<br>
<div id="movieSlider" data-dojo-type="dijit/form/HorizontalSlider" value="0" minimum="0" maximum="1" discreteValues="2" intermediateChanges="true" showButtons="false" style="width:500px;"></div>
<br>
<button data-dojo-type="dijit/form/Button" id="exportMovieImgBtn"><img src="/images/export-icon.png"></button>
<div data-dojo-type="dijit/Tooltip" connectId="exportMovieImgBtn">Export this snapshot of the drawing surface.</div>
user: <span id="movieUser">user</span>