<input type="text" data-dojo-type="dijit/form/ValidationTextBox" id="wbText" name="wbText">
<div>
  <button data-dojo-type="dijit/form/Button" id="okTextBtn">OK</button>
  <button data-dojo-type="dijit/form/Button" id="cancelTextBtn">Cancel</button>
</div>